/**
 * Description: Static (one per page) elements and collections of elements.
 * Version: 1.0.1
 * Last update: 2016/08/16
 * Author: Wojciech Mleczek
 *
 * Summary:
 *
 *    1. Navigation
 *    2. Main section
 *        - 2.1. Left pane (menu)
 *        - 2.2. Right pane (content)
 *        - 2.3. Infobar (mobile devices)
 *    3. Header (include breadcrumb)
 *    4. Footer
 *    5. Popup
 *        - 5.1. Error
 */

html {
    height: 100%;
    min-height: 300px;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    flex-direction: column;
    display: flex;
}

/* ==========================================================================
   1. Navigation
   ========================================================================== */

#nav {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

#nav .docname {
    font-weight: 600;
    opacity: 0.6;
}

#nav-toggle {
    width: 50px;
    height: 50px;
    display: none;
    background: #f9fafb url('../img/menu.png') center center no-repeat;
    position: absolute;
    z-index: 999;
    top: 0px;
    right: 0px;
    margin: 0;
}

@media all and (max-width: 1000px) {
    #nav-toggle {
        display: block !important;
    }
}

/* ==========================================================================
   2. Main section
      Middle panel (content and aside).
   ========================================================================== */

#main {
    flex: 1 1 auto;
    display: flex;
}

#main .border-right {
    border-right: 1px solid #ebebeb;
}

#main h1 i {
    margin-right: 16px;
}

#main .sticky-header {
    background: white;
    z-index: 9999;
}

#main .element {
    margin-top: 25px;
}

#main .description > .html {
    padding: 10px 0px;
    line-height: 1.4;
}

#main .description > #graph {
    width: 100% !important;
    height: 500px !important;
    border: 1px solid #cccccc; /* IE8 */
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* 2.1. Left pane (menu)
   ========================================================================== */

#main .resizable-left {
    width: 360px;
    height: 100%;
    float: left;
    min-width: 250px;
    max-width: 600px;
    max-height: none;
    overflow: hidden;
	overflow-y: auto;
    position: fixed;
    top: 0; bottom: 0;
    z-index: 99;
}

#main .resizable-right {
    height: 100%;
    margin-left: 361px;
    overflow: auto;
    flex: 1 1 auto;
}

@media all and (max-width: 1000px) {
    #main .resizable-left {
        display: none;
        border-right: 0;
        max-width: 100%;
        width: 100% !important;
    }
}

@media all and (min-width: 1001px) {
    #main .resizable-left {
        display: block !important; /* omit inline style */
    }
}

#main #left {
    min-height: calc(100vh - 100px); /* 2*30px + 40px (2*margin + #left-footer) */
    margin: 30px 20px;
}

#main #left-footer {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #999999;
    padding: 0 20px;
}


/* 2.2. Right pane (content)
   ========================================================================== */

@media all and (max-width: 1000px) {
    #main .resizable-right {
        margin-left: 0 !important;
    }
}

#main #right {
    margin: 15px 20px;
}

#main #right ul {
    padding-bottom: 10px;
}

/* 2.3. Infobar (mobile devices)
   ========================================================================== */

#infobar {
    display: none;
    position: fixed;
    top: 0; left: 0;
    background: #f9fafb;
    padding: 0 20px;
    height: 50px;
    width: 100%;
    z-index: 100;
    overflow: hidden;
    white-space: nowrap;
}

#infobar .logo,
#infobar .docname {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
}

#infobar .logo img {
    display: block;
    margin-right: 15px;
}

@media all and (max-width: 1000px) {
    #infobar { display: block; }
    #nav { display: none; }
    #left { padding-top: 30px; }
    .search-input { margin-bottom: -10px; }
    
    #right { padding-top: 50px; }
    #header { display: none; }
}

/* ==========================================================================
   3. Header (include breadcrumb)
   ========================================================================== */

#header {
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ebebeb;
}

#breadcrumb {
    float: left;
    list-style-type: none;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.3);
    margin-left: -8px;
    margin-right: -8px;
}

#breadcrumb a {
    display: inline-block;
    padding: 4px 8px;
}

#breadcrumb a:last-child {
    color: #808080; /* IE8 */
    color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
}

@media all and (max-width: 1000px) {
    #breadcrumb { display: none; }
}

#tools {
    float: right;
}

#tools .font-size a {
    cursor: pointer;
    padding: 0px 2px;
}

#tools .font-size .small  { font-size: 13px !important; }
#tools .font-size .medium { font-size: 14px !important; }
#tools .font-size .large  { font-size: 15px !important; }

/* ==========================================================================
   4. Footer
   ========================================================================== */

.footer {
    margin: 15px 20px;
}

/* ==========================================================================
   5. Popup
   ========================================================================== */

#popup {
    z-index: 100;
    display: block;
    font: 11px Arial;
    padding: 5px 10px;
    background: white;
    border: 1px solid #b3b3b3;
    box-shadow: 1px 1px 4px #b3b3b3;
    position: absolute;
    color: #252525;
}

#popup .table-columns {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 10px;
}

#popup .table-columns th,
#popup .table-columns td {
    text-align: left;
    vertical-align: top;
    border: 1px solid #b3b3b3;
    padding: 2px 6px;
}

/* 5.1. Error
        Popup shows up when ajax call fails (in loader component).
   ========================================================================== */

#popup-error {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 2;
    opacity: 0;
    
    padding: 15px 40px;
    background: #ef382a;
    color: #fff;
    font-weight: bold;
}